<div layout="column" ng-cloak class="md-inline-form dialog-entry">
    <form ng-submit="vm.handleSubmit()">
        <div class="dialog-padding">
            <md-toolbar>
               <div class="md-toolbar-tools">
                   <h2>Add Project</h2>
                   <span flex></span>
                   <md-button class="md-icon-button" ng-click="cancel()">
                   </md-button>
               </div>
            </md-toolbar>
            <md-input-container class="md-block">
                <label>Project Name</label>
                <input ng-model="vm.input.project_name">
            </md-input-container>
            <div>
                <md-button class="md-raised submit-button" ng-click="vm.handleSubmit()" type="submit">Submit Project</md-button>
            </div>
        </div>   
    </form>   
</div>