<div class="container" layout="column" ng-cloak class="md-inline-form">
    <md-button class="md-primary md-raised" ng-click="vm.showEntryDialog($event)">
        Add Time Entry
    </md-button>
    <table ng-table="vm.tableParams" class="table" show-filter="true">        
        <tr ng-repeat="entry in $data">
            <td title="'Name'" filter="{ item: 'text'}" sortable="'item'">
                {{entry.item}}</td>
            <td title="'Project'" filter="{ project_name: 'text'}" sortable="'project_name'">
                {{entry.project_name}}</td>
            <td title="'Date'" filter="{ date: 'text'}" sortable="'item_date_milli_from_epoch'">
                {{entry.date}}</td>
            <td title="'Time'" filter="{ hours: 'text'}" sortable="'time_spent'">
                {{entry.time_spent}}</td>
            <td title="'Delete'" filter="{}" sortable="''">
                <button ng-click="vm.handleDelete(entry.id)">Delete</button></td>
        </tr>
    </table>

</div>
